    <div class="ui container">
        <div class="ui raised segment form-width centered-form mt-5">
            <h2 class="ui center aligned header">Login</h2>
            <form class="ui form center aligned medium header login-form">
                <div class="field">
                    <label>Email:</label>
                    <input type="text" id="username-login" name="username-login" required>
                </div>
                
                <div class="field">
                    <label>Password:</label>
                    <input type="password" id="password-login" name="password-login" required>
                </div>

                <button type="submit" class="ui primary button">Login</button>
            </form>
        </div>

        <div class="ui raised segment form-width centered-form mt-5">
            <h2 class="ui center aligned header">Create Account</h2>
            <form class="ui form center aligned medium header signup-form">
                <div class="field">
                    <label>Username:</label>
                    <input type="text" id="username-signup" name="username-signup" required>
                </div>

                <div class="field">
                    <label>Email:</label>
                    <input type="email" id="email-signup" name="email-signup" required>
                </div>
                
                <div class="field">
                    <label>Password:</label>
                    <input type="password" id="password-signup" name="password-signup" required>
                </div>

                <button type="submit" class="ui primary button">Submit</button>
            </form>
        </div>
    </div>

<script src="./js/login.js"></script>