<h3 class="card-title py-2 dm-sans-header">Store</h3>
<div class="row border">
    <div class="col">
        {{!-- <h3>{{bandSerial.artist_name}}</h3> --}}
        <table class="table dm-sans-body">
            <thead>
                <tr>
                    <th scope="col">Seat Grade</th>
                    <th scope="col">Seat Price</th>
                    <th scope="col">Number of Tickets</th>
                </tr>
            </thead>
            <tbody>
                {{#each seatSerial as |seat| }}
                <tr>
                    <th scope="row">{{seat.seat}}</th>
                    <td>{{seat.price}}</td>
                    <td>
                        <input type="number" class="numOfTickets" name="quantity" min="0" max="10">
                    </td>
                </tr>
                {{/each}}
            </tbody>    
        </table>
        <button type="submit" id="review">Review Order</button>
    </div>
</div>