:root {
  --primary: #0f1735;
  --secondary: gold;
  --header: aliceblue;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--header);
  background-color: var(--primary);
}

#title {
  font-size: 250%;
}

.table {
  color: var(--header);
}

h3 {
  text-decoration: underline solid var(--secondary) 20%;
  text-decoration-skip-ink: none;
}
