:root {
  --primary: #0f1735;
  --secondary: gold;
  --header: aliceblue;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--header);
  background-color: var(--primary);
}

#title {
  font-size: 300%;
}

.table {
  color: var(--header);
}

h3 {
  text-decoration: underline solid var(--secondary) 18%;
  text-decoration-skip-ink: none;
}

.noto-color {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-header {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.dm-sans-body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

span {
  color: var(--secondary);
}
.ui.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Adjust height as needed */
}
.centered-form {
  width: 450px; /* Adjust width as needed */
  margin: 0 auto; /* Center the div horizontally */
}
.ui.form .field {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add spacing between fields */
  padding-left: 0px;
  margin-left: 0px;
}
.ui.form .field label {
  margin-right: 5px;
  text-align: right;
  flex: 0 0 75px; /* Adjust label width as needed */
}
.ui.form button {
  margin-top: 20px; /* Adjust margin as needed */
  margin-left: auto; /* Center the button */
  margin-right: auto; /* Center the button */
  display: block; /* Ensure the button takes up full width */
}

